{% extends 'base.html' %}

{% block styles %}
{{ super() }}

{% endblock %}

{% block content %}
{{ super() }}
<div class="diagnostics">
    <div class="feature">
        <a href="{{ url_for('l2_diagnostics') }}">
            <h3>Диагностика сети</h3>
            <p>Проверка соединения и состояния оборудования</p>
        </a>
    </div>
    
    <div class="feature">
        <a href="{{ url_for('configuration') }}">
            <h3>Настройка оборудования</h3>
            <p>Конфигурация параметров терминала</p>
        </a>
    </div>
    
    <div class="feature">
        <a href="{{ url_for('remote') }}">
            <h3>Удалённая помощь</h3>
            <p>Подключение специалиста для диагностики</p>
        </a>
    </div>
</div>
{% endblock %}