{% extends 'base.html' %}

{% block styles %}
{{ super() }}

{% endblock %}

{% block content %}
{{ super() }}
<div class="diagnostics">
    <div class="feature">
        <a href="{{ url_for('l1_diagnostics') }}">
            <h3>Диагностика</h3>
            <p>Проверка состояния терминала и работы интернета</p>
        </a>
    </div>
    
    <div class="feature">
        <a href="{{ url_for('l1_reboot') }}">
            <h3>Перезагрузка</h3>
            <p>Нажмите для перезагрузки абонентского терминала</p>
        </a>
    </div>
</div>
{% endblock %}